node_modules/
out/
long-video-bundle/
video-50-bundle/
public/*-audio/
*.log
youtube-uploader/client_secret.json
youtube-uploader/token.json
youtube-uploader/upload-log.json
youtube-uploader/upload-preview.json
youtube-uploader/node_modules/
